# Geopandas

In [32]:
import json

In [38]:
geo_map = json.load(open('Data/data_new_york/new_york_geo.json'))

In [45]:
geo_map['features'][0]

{'type': 'Feature',
 'properties': {'neighborhood': 'Allerton',
  'boroughCode': '2',
  'borough': 'Bronx',
  '@id': 'http://nyc.pediacities.com/Resource/Neighborhood/Allerton'},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-73.84859700000018, 40.871670000000115],
    [-73.84582253683678, 40.870239076236174],
    [-73.85455918463374, 40.85995383576425],
    [-73.85466543306826, 40.859585694988056],
    [-73.85638870335896, 40.85759363530448],
    [-73.86888180915341, 40.857223150158326],
    [-73.86831755272824, 40.85786206225831],
    [-73.86955371467232, 40.85778409560018],
    [-73.87102485762065, 40.857309948816905],
    [-73.87048054998716, 40.865413584098484],
    [-73.87055489856489, 40.86970279858986],
    [-73.86721594442561, 40.86968966363671],
    [-73.85745, 40.86953300000018],
    [-73.85555000000011, 40.871813000000145],
    [-73.85359796757658, 40.8732883686742],
    [-73.84859700000018, 40.871670000000115]]]}}

In [ ]:
geo_map

In [ ]:
NYC_coor = (40.730610, -73.935242)
NY_map = folium.Map(NYC_coor, zoom_start=11, tiles = 'cartodbpositron')
folium.TileLayer('cartodbpositron').add_to(NY_map)
#folium.GeoJson(geo_map, name="geojson").add_to(NY_map)
NY_map.choropleth(
    geo_data=geo_map,
    name='Income Tax Per Capita',
    data=geo_map,
    columns=['name', 'inc_tax_per_capita'],
    fill_color='YlGn',
    key_on='feature.geometry.name',
    legend_name='inc_tax_per_capita'
)
NY_map

In [ ]:
import geopandas

In [35]:
india_geojson = geopandas.read_file('Data/data_new_york/new_york_geo.json')
india_geojson.head()

In [ ]:
india_geojson.plot()

In [ ]:
NYC_coor = (40.730610, -73.935242)
NY_map = folium.Map(NYC_coor, zoom_start=11, tiles = 'cartodbpositron')
folium.TileLayer('cartodbpositron').add_to(NY_map)
folium.GeoJson(india_geojson, name="geojson").add_to(NY_map)
NY_map

In [255]:
df.head()[df.head().room_type == 'Private room']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,availability_365,neighbourhood_group_other,neighbourhood_other,neighbourhood_other_label,neighbourhood_group_other_Brooklyn,neighbourhood_group_other_Manhattan,neighbourhood_group_other_Other,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,...,365.0,Brooklyn,Kensington,35.0,1.0,0.0,0.0,0.0,1.0,0.0
2,3647.0,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,...,365.0,Manhattan,Harlem,30.0,0.0,1.0,0.0,0.0,1.0,0.0