In [1]:
from sklearn.linear_model import Ridge

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/AB_data_clean.csv")
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,availability_365,neighbourhood_group_other,neighbourhood_other,neighbourhood_other_label,neighbourhood_group_other_Brooklyn,neighbourhood_group_other_Manhattan,neighbourhood_group_other_Other,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,2539.0,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,...,365.0,Brooklyn,Kensington,35.0,1.0,0.0,0.0,0.0,1.0,0.0
1,2595.0,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,...,355.0,Manhattan,Midtown,41.0,0.0,1.0,0.0,1.0,0.0,0.0

In [4]:
df_clean = df.dropna()
df_clean.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'neighbourhood_group_other', 'neighbourhood_other',
       'neighbourhood_other_label', 'neighbourhood_group_other_Brooklyn',
       'neighbourhood_group_other_Manhattan',
       'neighbourhood_group_other_Other', 'room_type_Entire home/apt',
       'room_type_Private room', 'room_type_Shared room'],
      dtype='object')

In [5]:
y = df_clean[['price']]
X = df_clean[['latitude','longitude',
        'minimum_nights', 'number_of_reviews','availability_365',
        #'neighbourhood_other_label', 
        #'neighbourhood_group_other_Brooklyn', 'neighbourhood_group_other_Manhattan', 'neighbourhood_group_other_Other', 
        'room_type_Entire home/apt', 'room_type_Private room', 'room_type_Shared room']]

In [6]:
X.number_of_reviews.max()

629.0

In [7]:
reg = Ridge()

In [8]:
reg.fit(X,y)

Ridge()

In [9]:
reg.predict([X.iloc[0],])

array([[184.28524229]])

In [10]:
y.iloc[0]

price    149.0
Name: 0, dtype: float64

In [11]:
from joblib import dump, load
dump(reg, 'model_ridge.joblib') 
reg_new = load('model_ridge.joblib')

In [12]:
reg_new.predict([X.iloc[0],])

array([[184.28524229]])